<div class="container">
    <footer class="footer">
        <small>
            Copyright &copy; <a href="https://www.nalexanderdev.com">nalexanderdev.com</a> by <a href="https://www.nalexanderdev.com">Nick Alexander</a>
        </small>
        <nav>
            <ul>
                <li><%= link_to "About", about_path %></li>
            </ul>
        </nav>
    </footer>
</div>